.description{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 200px;
    // display: flex;
    
    justify-content: center;
    .body{
        max-width: 1400px;
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        position: relative;
        p{
            margin: 0px;
            &:nth-of-type(1){
                font-size: 25px;
                gap: 8px;
                line-height: 1.3;
                width: 65%;
                span{
                    margin-right: 3px;
                }
                .mask{
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }
            }
            &:nth-of-type(2){
                font-size: 18px;
                width: 35%;
                font-weight: 300;
            }
        }
        .button{
            top: 80%;
            left: calc(100% - 200px); 
            width: 180px;
            height: 180px;
            background-color: #1C1D20;
            color: white;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            p{
                margin: 0px;
                font-size: 16px;
                font-weight: 300;
                position: relative;
                z-index: 1;
            }
        }
    }
    .moreWork{
        padding: 20px;
        border-radius: 40px;
        border: 1px solid grey;
    }
}

@media only screen and (max-width:"768px"){
    .description{
        padding-left: 0px;
        padding-right: 0px;
        margin:60px 20px;
        justify-content: center;
        .body{
            max-width: 1400px;
            display: flex;
            gap: 50px;
            position: relative;
            width: 100%;
            flex-direction: column;
            p{
                margin: 0px;
                &:nth-of-type(1){
                    font-size: 20px;
                    gap: 8px;
                    line-height: 1.3;
                    span{
                        margin-right: 3px;
                    }
                    .mask{
                        position: relative;
                        // overflow: hidden;
                        display: inline-flex;
                        flex-direction: column;
                    }
                    width: 100%;
                }
                &:nth-of-type(2){
                    font-size: 18px;
                    // width: 80%;
                    font-weight: 300;
                    width: 100%;
    
                }
            }
            .button{
                top: 80%;
                left: calc(100% - 200px); 
                width: 180px;
                height: 180px;
                background-color: #1C1D20;
                color: white;
                border-radius: 50%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                p{
                    margin: 0px;
                    font-size: 16px;
                    font-weight: 300;
                    position: relative;
                    z-index: 1;
                }
            }
        }
        .moreWork{
            padding: 20px;
            border-radius: 40px;
            border: 1px solid grey;
        }
    
       
    }
}